*{margin: 0;padding: 0;}


body{
    max-width: 1280px;
    margin: auto;
}
header{
   /*  background-image: url(/one_picture.jpg); */
  /*   background-repeat: no-repeat; */
  /*  background-size: cover; */
/*  height: auto;
width: auto; */
}

.title_card{
    min-height: 790px;
    width: auto;
    padding: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.our_clothing{
    font-size: 30px;
    font-family:  Quicksand_Bold;
}
.lorem_center{
width: 800px;
padding: 25px 0 0 0;
font-size: 24px;
font-family:  Quicksand_Bold;
}
.first_menu{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.boot{
    margin: 64px 0 0 50px;
}
.home_products_cart{
    background-color: red;
    display: flex;
    justify-content: end;
    /* position: relative;
    bottom: 44px;
    right:67px; */
    /* display: flex;
    justify-content:end; */
    color: white;
}
li{
    display: inline-block;
    margin: 10px 53px 0 0;
    font-family: Quicksand_Bold;
    font-size: 18px;
}
.filter{
    position: relative;
    height: 143px;
    background-color: #f5f6f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.custom-checkbox_men{
    margin-left: 95px;
}
.three_category{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* кнопки */
.custom{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 45px;
}
input[type=checkbox]{
    width: 25px;
    height: 24px;
    border: 2px solid #cccccc;
    background-color: white;
}
label{
    font-size: 14px;
    font-family:  Quicksand_Bold;
    padding: 0 40px 0 18px;
}
.button_set_all_products{
    margin-right: 9vmin;
}
.set_all_products{
    height: 52px;
    width: 204px;
    font-size: 14px;
    font-family:  Quicksand_Bold;
    color: white;
    background-color:#aa9b77 ;
    border: none;
    border-radius: 3px; 
}
.clothes{
    position: relative;
    height: 1307px;
    background-color: #ffffff;   
}
.clothes_men,.clothes_women{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.block{
    height: 378px;
    width: 320px;
    background-color: #f5f6f7;
    margin: 17px 100px 0 64px;
    position: relative;
}
/* .block:hover{
    border: 6px solid #aa9b77;
} */
.men_tire{
    margin-top: 87px;
}
.men{
    display:flex;
    flex-direction: row;
    font-size: 20px;
    font-family: Quicksand_Bold;
    margin-left: 7vmin;
    margin-bottom: 49px;
}
.men:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #cccccc;
    margin: auto 105px auto 52px;
}
.leaf{
    color: #ac9e7b;
    font-size: 16px;
    font-family: Quicksand_Bold;
}
.leaf_1{
   display: flex ;
    justify-content: end;
    margin-right: 11vmin;
}
.leaf_2{
   margin-left: 7vmin;
}
.block1{
    background-image:url(./clothes/t_shirt_man.jpg); 
    background-repeat:no-repeat;
    background-position: center;
}
.block2{
    background-image:url(./clothes/pants.jpg);
    background-repeat:no-repeat;
    background-position: center;
}
.block3{
    background-image:url(./clothes/backpack.jpg); 
    background-repeat:no-repeat;
    background-position: center;
}
.size{
    padding: 25px 0 0 27px;
}
.circles{
    position: absolute;
    right: 0;
    top: 0;
    padding: 23px 25px 0 0;
}
.circle{
    display: inline-flex;
    height: 21px;
    width: 22px;
    border-radius: 50%;
    background-color: #535253;
    margin: 0 0 0 5px ;
}
.circle1{
background-color: #165eb9;
}
.circle2{
background-color: #ffe637;
}
.circle3{
background-color: #535253;
}
.circle4{
background-color: #d3a7ac;
}
.circle5{
background-color: #ffffff;
}
.things{
 position: absolute;
 bottom: 0;
 color: #aa9b77;
 padding: 0 0 26px 25px;
}
.price{
   position: absolute;
   bottom: 0;
   right: 0;
   padding: 0 20px 24px 0;
}
.women{
    display:flex;
    flex-direction: row;
    font-size: 20px;
    font-family: Quicksand_Bold;
    margin: 0 105px 49px 0px;
}
.women:before {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #cccccc;
    margin: auto 52px auto 65px;
}
.block4{
    background-image:url(./clothes/jacket.jpg); 
    background-repeat:no-repeat;
    background-position: center;
}
.block5{
    background-image:url(./clothes/boot.jpg); 
    background-repeat:no-repeat;
    background-position: center;
}
.block6{
    background-image:url(./clothes/t_shirt_woman.jpg); 
    background-repeat:no-repeat;
    background-position: center;
}

fieldset{
    border: 2px solid #918363;
    height: 254px;
    width: 713px;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: Quicksand_Bold;
    font-size: 16px;
    line-height: 24px;
}
legend{
    margin-top: 80px;
    padding: 0 13px;
    border: none;
    font-size:16px;
    color: #837659;
    text-transform: uppercase;
    text-align: center;
  }
.about_us_lorem{
    height: 402px;
    background-color: #aa9b77;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bird{
    margin-right: 15px;
    margin-left: 69px;
}
q{
    quotes: initial;
}
.e-commerce{
    position: relative;
    height: 70px;
    background-color: #535253;
    color: #ffffff;
    font-family: Quicksand_Bold;
    font-size: 16px;
    display: flex;
    align-items: center;
}
footer{
    height: 352px;
    background-color: #424242;
    color: #ffffff;
    position: relative;
}
.trekking_lorem{
    position: absolute;
    font-family: Quicksand_Bold;
    text-transform: uppercase;
    margin-left: 64px;
    margin-top: 109px;
    width: 310px;
    line-height: 20px;
}
.trekking{
    font-size: 20px;
}
.footer_lorem{
    font-size: 10px;
    margin-left: 1px;
    margin-top: 22px;
}
.second_menu_design{
    position: relative;
    /* display: flex; */
    float: right;
    justify-content: flex-end;
    margin-top: 157px;
    margin-right: 65px;
    line-height: 16px;
}
.ul_li{
    display:flex;
    padding: 3px;
}
.end{    
    margin: 0 0 0 10px;
    padding: 0 0 0 6px;
    list-style-type: none;
    border-left: 2px solid;
    border-image: linear-gradient(to right,#aa9b77, #5c584f) 0 100%;
}
.second_menu{
    text-transform: uppercase;
    font-size: 14px;
}
.design{
    font-family: Quicksand_Bold;
    font-size: 18px;
    margin-top: 15px;
    margin-left: 65px;
}
@font-face{
    font-family: "Quicksand_Bold";
    src: url(./font/Quicksand_Bold.otf);
    font-style: normal;
    font-weight: bold;
}
